*{
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    list-style: none;
}

button{
    text-align: inherit;
    border: inherit;
    background: none;
}

button:active, button:focus{
    outline: none;
}

body{
    background: black;
}

h1{
    text-align: center;
}

.main{
    position: relative;
}

/*! START SCHRODINGER CATS !*/

.cats{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: black;
    background-size: cover;
    background-attachment: fixed;
}

.cats img{
    height: 110vh;
}

.title{
    width: 100vw;
    height: 100vh;
    cursor: pointer;
}

.apiLogo{
    height: 100px;
    width: 100px;
    background: #97ce4c;
    border-radius: 50%;
    overflow: hidden;
}

.title h1{
    color: white;
    font-size: 56px;
    font-weight: 900;
}

/*! END SCHRODINGER CATS !*/

/*? START SIDE MENU ?*/

.main__container__menu, .main__container__menu-sm{
    width: 27%;
    max-width: 400px;
    min-width: 200px;
    background: #97ce4c;
    overflow: scroll;
    box-sizing: border-box;
}

.main__container__menu{
    height: 100vh;
}

.main__container__menu-sm{
    position: absolute;
    width: 100%;
    max-width: 768px;
    min-height: 10vh;
}

#episodes-sm{
    height: 90vh;
    width: 100%;
    bottom: -20px;
    overflow: scroll;
    background: #97ce4c;
}

.main__container{
    height: 100vh;
    background: rgb(30,30,40);
    overflow: hidden;
}

.main__container__menu--episode{
    background: none;
    background: none;
    border-radius: 30px;
    box-sizing: border-box;
    border: none;
    font-size: 17px;
    color: white;
    transition: 0.2s ease;
}
.main__container__menu--episode:hover{
    background: white;
    color: #97ce4c;
    font-weight: 900;
    transform: scale(1.1);
    transition: 0.2s ease;
}
.main__container__menu--episode:focus{
    outline: none;
}
.main__container__menu--episode:active{
    transform: scale(1);
    transition: 0.1s ease;
}

.main__container__menu>span{
    font-size: 24px;
    font-weight: 900;
    border-bottom: 1px solid #44281d;
    color: #44281d;
}

.main__container__menu-sm>button{
    font-size: 32px;
    font-weight: 900;
    color: #44281d;
}

/*? END SIDE MENU ?*/

/*! START GENERAL DISPLAY !*/

.main__container__display{
    width: 100%;
}

.display__main{
    width: 100%;
    height: 100%;
    /* border: 1px solid yellow; */
    color: white;
    border-radius: 15px;
    background: rgb(50, 50, 60);
    overflow: scroll;
}

.display__main--episode h4,
.display__main--character h4,
.display__main--location h4{
    font-size: 36px;
    font-weight: 900;
}

.display__main--episode h4{
    color: #e89ac7;
}

.display__main--character h4{
    color: #f0e14a;
}

.display__main--location h4{
    color: white;
}

.display__main--episode > span:first-of-type,
.display__main--character span:first-of-type,
.display__main--character button,
.display__main--location > span:first-of-type{
    color: #97ce4c;
    font-size: 24px;
    font-weight: 300;
}

.display__main--character button:hover{
    color: white;
}

.display__main--character img{
    border-radius: 15px;
    overflow: hidden;
    min-width: 200px;
}

.display__main__title{
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 28px;
}

/*! END GENERAL DISPLAY !*/


/*? MAIN DISPLAY SECTION (cards to other pages) ?*/

.display__main__characters--main,
.display__main__episodes--main{
    border-radius: 15px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.3s ease;
    cursor: pointer;
    color: white;
    border: none;
    text-indent: none;
}

.display__main__characters--main{
    height: 200px;
    min-width: 400px;
    max-width: 550px;
    width: 100%;
}
.display__main__episodes--main{
    width: 230px;
    height: 100px;
}
.display__main__characters--main:hover,
.display__main__episodes--main:hover{
    transform: scale(1.015);
    overflow: hidden;
    transition: 0.3s ease;
}
.display__main__episodes--main:hover{
    transform: scale(1.1);
}

.display__main__episodes--main span:first-child{
    color: #e89ac7;
    font-weight: 900;
    font-size: 20px;
}
.display__main__episodes--main span:last-child{
    color: #97ce4c;
    font-weight: 200;
}

.display__main__characters--main .display__main__characters--img img{
    transition: 0.3s ease;
}
.display__main__characters--main:hover .display__main__characters--img img{
    transform: scale(1.1);
    transition: 0.3s ease;
}

.display__main__characters--description{
    height: 200px;
}

.display__main__characters--img{
    width: 200px;
    height: 200px;
    border-radius: 15px 0 0 15px;
    overflow: hidden;
}

.character__name{
    font-size: 32px;
}

.character__info{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
}

.status--green, .status--red, .status--grey{
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.status--green{
    background: rgb(75, 197, 60);
}

.status--red{
    background: rgb(210, 50, 40);
}

.status--grey{
    background: rgb(150, 150, 150);
}

.character__lastLocation span:first-child{
    font-weight: 300;
    font-size: 24px;
    color: rgb(150, 150, 150);
}

.character__lastLocation span:last-child{
    font-weight: 100;
    font-size: 20px;
    color: white;
}

.character__lastLocation span:last-child:hover{
    color: #97ce4c;
    cursor: pointer;
}

/* @media (max-width: 575px){ */
@media (max-width: 768px){

    .main__container__display{
        margin-top: 10vh;
        width: 100%;
        height: 90vh;
    }

    .display__main__characters{
        height: 100%;
        overflow: scroll;
    }
    .display__main__characters--main{
        height: 150px;
        min-width: 270px;
        width: 270px;
        border-radius: 15px;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.1);
        transition: 0.3s ease;
        cursor: pointer;
        color: white;
        border: none;
        text-indent: none;
    }

    .display__main__characters--img img{
        height: 150px;
        width: 150px;
    }

    .display__main__characters--img{
        width: 150px;
        height: 150px;
        min-width: 150px;
        border-radius: 15px 0 0 15px;
        overflow: hidden;
    }
    .display__main__characters--description{
        height: 150px;
    }

    .character__name{
        font-size: 20px;
    }

    .character__info{
        font-size: 16px;
        width: 80px;
    }

    .statusSm--green{
        color: rgb(75, 197, 60);
    }

    .statusSm--red{
        color: rgb(210, 50, 40);
    }

    .statusSm--grey{
        color: rgb(150, 150, 150);
    }

    .display__main--character{
        text-align: center;
    }

    .display__main__episodes--title{
        text-align: center;
    }
    
    .display__main__portal{
        width: 300px;
        height: 300px;
    }
}


.loadMore{
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    background: #e89ac7;
    border-radius: 30px;
    width: 150px;
    text-align: center;
    transition: 0.3s ease;
}
.loadMore:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
}

#info{
    position: fixed;
    bottom: 20px;
    right: 20px;
}